<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Jan Philipp</string>
	<key>CFBundleDisplayName</key>
	<string>knalliHudson</string>
	<key>CFBundleIdentifier</key>
	<string>de.knallisworld.knallihudson</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>safari/global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>failedJobs</string>
				<key>Image</key>
				<string>images/hudson.png</string>
				<key>Label</key>
				<string>Failed Jobs</string>
				<key>Palette Label</key>
				<string>Failed Jobs</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>unstableJobs</string>
				<key>Image</key>
				<string>images/hudson.png</string>
				<key>Label</key>
				<string>Unstable Jobs</string>
				<key>Palette Label</key>
				<string>Unstable Jobs</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Smart Hudson CI Extension</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/knalli/knallicious/raw/master/update-manifest.plist</string>
	<key>Website</key>
	<string>http://github.com/knalli/knallicious</string>
</dict>
</plist>
